footer {
    width: 100%;
    height: 40vh;
    background-color: black;
}
.logo-container {
    width: 40%;
    margin: 0 auto;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer i {
    color: white;
    padding-right: 20px;
    font-size: 26px;
    cursor: pointer;
}
footer i:first-child:hover {
    color: #38598b;
}
footer i:nth-of-type(2):hover {
    color: #7dd87d;
}
footer i:last-child:hover {
    color: #ffaaa5;
}